name: Flask CI

on:
  push:
    branches: [development, main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Create virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate

      - name: Change directory
        run: |
          cd BeStrongClinicReservation

      - name: Print debugging information
        run: |
          echo "Python Version: $(python --version)"
          echo "Working Directory: $(pwd)"
          echo "Contents of Working Directory: $(ls -l)"
          echo "Contents of site-packages: $(ls -l venv/lib/python*/site-packages)"

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

      - name: Deploy Local Flask Application
        run: python3 index.py

      - name: Run tests
        run: python3 -m unittest test_health.py

